{% load static %}

<!DOCTYPE html>
<html lang="ru" class="page">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>

<body class="page__body">
    <div class="line_help">
        <div class="linee"></div>
    </div>

    <div class="section">
        <div class="auth">
            <h1 class="auth__title">Вход</h1>

            <form class="auth__form" method="post">
                {% csrf_token %}

                {% if form.errors %}
                <div class="auth__error">
                    Неверный логин или пароль
                </div>
                {% endif %}


                <label class="auth__label" for="username">Имя</label>
                <input class="auth__input" type="text" id="username" name="username" placeholder="Введите своё имя"
                    required>



                <label class="auth__label" for="password">Пароль</label>
                <input class="auth__input" type="password" id="password" name="password"
                    placeholder="Введите свой пароль" required>


                <button class="auth__button" type="submit">
                    Войти
                </button>
            </form>

            <p class="auth__hint">
                Нет аккаунта?
                <a class="auth__link" href="{% url 'register' %}">Регистрация</a>
            </p>
        </div>
    </div>
</body>

</html>