{% load static %}
<!DOCTYPE html>
<html lang="ru" class="page">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>

<body class="page__body">
    <div class="line_help">
        <div class="linee"></div>
    </div>
    <div class="section">
        <div class="auth">
            <h1 class="auth__title">Регистрация</h1>

            <form method="post" class="auth__form">
                {% csrf_token %}

                {% if form.errors %}
                <div class="auth__error">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p>{{ error|linebreaks }}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                <label class="auth__label">Имя пользователя</label>
                <input class="auth__input" type="text" name="username" required placeholder="Придумайте имя">

                <label class="auth__label">Пароль</label>
                <input class="auth__input" type="password" name="password1" required placeholder="Придумайте пароль">

                <label class="auth__label">Повтор пароля</label>
                <input class="auth__input" type="password" name="password2" required placeholder="Повторите пароль">

                <label class="auth__label">Выбирете роль</label>
                <div class="auth__roles">
                    {% for choice in form.role %}
                    <label class="auth__radio">
                        {{ choice.tag }} {{ choice.choice_label }}
                    </label>
                    {% endfor %}
                </div>

                <button class="auth__button" type="submit">
                    Зарегистрироваться
                </button>
            </form>

            <p class="auth__hint">
                Уже есть аккаунт?
                <a href="{% url 'login' %}">Войти</a>
            </p>
        </div>
    </div>
</body>

</html>