{% load static %}
<!DOCTYPE html>
<html class="page">

<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tips = document.querySelectorAll("#tips-slider .tip");
        let currentIndex = 0;

        tips.forEach((tip, index) => {
            tip.style.display = index === 0 ? "block" : "none";
        });

        setInterval(() => {
            tips[currentIndex].style.display = "none";
            currentIndex = (currentIndex + 1) % tips.length;
            tips[currentIndex].style.display = "block";
        }, 5000);
    });
</script>

<body class="page__body">

    <div class="line_help">
        <div class="linee"></div>
    </div>
    <main>
        <div class="section">
            <nav class="nav">
                <a href="{% url 'vacancy_list' %}">Вакансии</a>
                <a href="{% url 'about' %}">О нас</a>

                {% if user.is_authenticated %}
                <span>{{ user.username }} ({{ user.get_role_display }})</span>
                {% if user.role == 'employer' %}
                <a href="{% url 'vacancy_create' %}" class="btn">Создать</a>
                {% endif %}
                <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}" class="btn">Регистрация</a>
                {% endif %}
            </nav>
        </div>
        <div class="section">
            <div class="card">
                <h1 class="card__title">О нас</h1>
                <p class="card__text">
                    Добро пожаловать на JOBCATCHER!<br>
                    Мы — современная платформа для поиска и размещения вакансий, которая объединяет работодателей и
                    соискателей.
                    Наша миссия — сделать поиск работы удобным.<br>
                    Здесь вы можете просматривать вакансии, создавать свои предложения работы.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="card">
                <h1 class="card__title">Наша миссия</h1>
                <p class="card__text">
                    Сделать поиск работы и сотрудников<br>
                    понятным — без перегруженных форм и лишних шагов<br>
                    прозрачным — с чёткими условиями и актуальными вакансиями<br>
                </p>
            </div>
        </div>
        <div class="section">
            <div class="card">
                <h1 class="card__title">Для соискателей</h1>
                <p class="card__text">
                    Мы понимаем, насколько утомительным может быть поиск работы. Поэтому JobCatcher помогает находить
                    вакансии с реальной зарплатой и понятным описанием;<br>
                </p>
            </div>
        </div>
        <div class="section">
            <div id="tips-slider">
                <div class="tip">Чётко указывайте зарплату — это повышает отклик.</div>
                <div class="tip">Заполняйте профиль полностью — вас чаще находят.</div>
                <div class="tip">Краткое описание вакансии читают охотнее.</div>
                <div class="tip">Откликайтесь с сопроводительным письмом.</div>
            </div>

        </div>
    </main>

</body>

</html>