{% load static %}
<!DOCTYPE html>
<html class="page">

<head>
    <meta charset="UTF-8">
    <title>{{ vacancy.name }}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/detail.css' %}">

</head>

<body class="page__body detail__body" >
    <div class="line_help">
        <div class="linee"></div>
    </div>
    
    <main>
        <div class="section">
            <nav class="nav">
                <a href="{% url 'vacancy_list' %}">Вакансии</a>
                <a href="{% url 'about' %}">О нас</a>

                {% if user.is_authenticated %}
                <span>{{ user.username }} ({{ user.get_role_display }})</span>
                {% if user.role == 'employer' %}
                <a href="{% url 'vacancy_create' %}" class="btn">Создать</a>
                {% endif %}
                <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}" class="btn">Регистрация</a>
                {% endif %}
            </nav>
        </div>
        <div class="container">
            <div class="section">
                <div class="vacancy-card">
                    <h1 class="vacancy-card__title">{{ vacancy.name }}</h1>

                    <p class="vacancy-card__detail"><strong>Работа:</strong> {{ vacancy.job.name }}</p>
                    <p class="vacancy-card__detail"><strong>Зарплата:</strong> {{ vacancy.salary }} руб.</p>
                    <p class="vacancy-card__detail"><strong>Дата:</strong> {{ vacancy.created }}</p>

                    <div class="vacancy-card__description">
                        {{ vacancy.description|linebreaks }}
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="recommendations">
                    {% if recommendations %}
                    <h2 class="recommendations__title">
                        Похожие вакансии ({{ vacancy.job.name }})
                    </h2>

                    {% for rec in recommendations %}
                    <div class="section">
                        <div class="recommendation">
                            <a href="{% url 'vacancy_detail' rec.slug %}">
                                {{ rec.name }}
                            </a>
                            <p>Зарплата: {{ rec.salary }} руб.</p>
                            <p>Дата: {{ rec.created }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <a href="{% url 'vacancy_list' %}" class="back-link">← Назад к вакансиям</a>
                </div>
            </div>

        </div>
    </main>
</body>

</html>