*{
    margin: 0;
    font-family: "font";
    
}

html{
    width: 100%;
    height: 100%;
  
}

.section{
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.line_help{
    position:fixed;
    height: 0vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: -1;
    top: 0;
}

.linee{
    
    width: 80%;
    height: 0vh;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    animation: growLine 1s ease forwards;
}

@keyframes growLine {
    from {
        height: 0;
    }
    to {
        height: 100vh;
    }
}

.page__body {
    margin: 0;
    
    background: #05060d;
    color: #ffffff;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.detail__body{
    justify-content: start;
}

body::-webkit-scrollbar {
    display: none;
}

a{
    color: transparent;    
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #ffffff 50%, #f3cd33 50%);
    background-size: 100% 200%; /* высота градиента в 2 раза больше текста */
    background-position: bottom;   /* начальная позиция */
    text-decoration: none;
    transition: background-position 0.5s ease; /* плавная анимация */
}
a:hover{
     background-position: top; /* смещаем градиент при hover */
}

 
input  {
    padding: 10px 15px;
    border: 3px solid #757575;    
    outline: none;
    border-radius: 0;          
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
} 

 
input:focus {
    border-color: #f3cd33;     
}

button {
    padding: 10px 20px;
    border: 2px solid #ccc;       
    border-radius: 0;             
    background-color: white;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
 
button:hover {
    background-color: #f3cd33;    
    border-color: #f3cd33;       
    color: white;                 
}

.auth__error {
    color: brown;
    width: 300px;
}

@font-face {
  font-family: "font";
  src:
    url("../fonts/ofont.ru_Aventura.ttf") format("woff2"),
}