main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 15px;
}


.vacancy-card{
    width: 60%;
}

.recommendations{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;
}
.recommendations__title{
    width: 60%;
}
.back-link{
    width: 60%;
}

.recommendation{
    width: 60%;

}