main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 15px;
}
.page__body{
    justify-content: start;
}


.list_nav {
    display: flex;
    gap: 30px;
}

.card{
    width: 60%;
}

label input {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background: white;      /* чтобы текст не перекрывался */
    padding: 0 5px;
    color: #999;
    font-size: 16px;
    pointer-events: none;    /* чтобы клик шёл на input */
    transition: 0.3s;
}

form {
    margin: 20px 0;
}

 
form .select {
    padding: 5px 10px;
    font-size: 16px;
    border: 3px solid #ccc;    
    border-radius: 0;           
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;               
}

 
form .select:focus {
    border-color: #f3cd33;      
}

 
form .select option {
    background-color: white;
    color: #333;
    border: none;              
}

form option:hover {
    color: #f3cd33;
    background-color: white;
}

 
form option:checked {
    background-color: #f3cd33;
    color: white;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}